POSTGRES_USER=unihub
POSTGRES_PASSWORD=unihub_dev_pwd
POSTGRES_DB=unihub_workshop
POSTGRES_PORT=5432

REDIS_PORT=6379

PGADMIN_EMAIL=admin@unihub.localhost.com
PGADMIN_PASSWORD=admin123
PGADMIN_PORT=5050
